body{
    background-image:url("./illum.png");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    background-attachment:fixed;

    color:white;
    font-family:Arial,sans-serif;
}


/* Animacion de aparicion */

@keyframes aparecer{
    from{
        opacity:0;
        transform:translateY(40px);
    }

    to{
        opacity:1;
        transform:translateY(0);
    }
}

header{
    background:rgba(0,0,0,0.85);
    text-align:center;
    padding:20px;
    animation:aparecer 1.5s;
}

nav{
    background:rgba(20,20,20,0.9);
    text-align:center;
    padding:15px;
}

nav a{
    color:gold;
    text-decoration:none;
    margin:15px;
    font-weight:bold;
    transition:0.4s;
}

nav a:hover{
    color:#00ff00;
    text-shadow:
    0 0 10px #00ff00,
    0 0 20px #00ff00,
    0 0 40px #00ff00;
}

.contenido{
    width:85%;
    margin:auto;
    margin-top:30px;
    background:rgba(0,0,0,0.75);
    padding:25px;
    border-radius:15px;
    animation:aparecer 2s;
}

h1,h2{
    color:gold;
}

h3{
 color:red;

}


/* Efecto de ojos brillantes */

.ojos{
    text-align:center;
    font-size:60px;
    color:gold;
    animation:brillar 2s infinite;
}

@keyframes brillar{

    0%{
        text-shadow:0 0 10px red;
    }

    50%{
        text-shadow:
        0 0 20px red,
        0 0 40px red,
        0 0 80px red;
    }

    100%{
        text-shadow:0 0 10px red;
    }

}

/* Galeria */

.galeria{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:20px;
}

.galeria img{
    width:250px;
    height:180px;
    border:3px solid gold;
    border-radius:15px;
    transition:0.5s;
}

.galeria img:hover{
    transform:scale(1.1);
    box-shadow:
    0 0 20px gold,
    0 0 40px gold;
}

/* Boton volver arriba */

.arriba{
    position:fixed;
    bottom:20px;
    right:20px;
    background:gold;
    color:black;
    padding:15px;
    border-radius:50%;
    text-decoration:none;
    font-size:20px;
    font-weight:bold;
}

.arriba:hover{
    background:white;
}

footer{
    text-align:center;
    background:rgba(0,0,0,0.85);
    padding:15px;
    margin-top:30px;
}
.titulo{

    animation:resplandor 3s infinite;

}

@keyframes resplandor{

    0%{
        text-shadow:0 0 10px gold;
    }

    50%{
        text-shadow:
        0 0 20px gold,
        0 0 40px gold,
        0 0 80px gold;
    }

    100%{
        text-shadow:0 0 10px gold;
    }

}

button{
    background-color: gold;
    color: black;
    border: none;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

body{
    background-color: black;
}